h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(1, 10, 61);
}

h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4{
    text-align:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.servicio1{
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
}

.fotos{
    display: flex;
    align-self: auto;
    height: 300px;
    padding-left: 100px;
}

.banner{
    height: 500px;
}

.somos{
    display: flex;
    flex-direction: row;
}

.somos2{
    display: flex;
    flex-direction: column;
}

.kmilo{
    display: flex;
    align-self: center;
    padding-left: 60px;
    padding-top: 40px;
    height: 400px;
}

.parrafo{
    padding: 50px;
    display: flex;
    
}

.fondo{
    background-color: rgb(60, 196, 196);
}

.fondotitulo{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(60, 196, 196);

}